/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3f48cc;
  --ifm-color-primary-dark: #313899;
  --ifm-color-primary-darker: #202569;
  --ifm-color-primary-darkest: #1b205a;
  --ifm-color-primary-light: #575ec7;
  --ifm-color-primary-lighter: #7a7fc4;
  --ifm-color-primary-lightest: #575ec7;
  --hero-text: #ffffff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #3f48cc;
  --ifm-color-primary-dark: #313899;
  --ifm-color-primary-darker: #202569;
  --ifm-color-primary-darkest: #1b205a;
  --ifm-color-primary-light: #575ec7;
  --ifm-color-primary-lighter: #7a7fc4;
  --ifm-color-primary-lightest: #575ec7;
  --hero-text: #ffffff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


.hero-avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid var(--primary-darker);
    box-shadow: 0 5px 15px rgba(126, 23, 142, 0.8);
    z-index: -1;
}

.hero__title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--hero-text);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hero__subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--hero-text);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/Background.jpg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 5px 15px rgba(126, 23, 142, 0.8);
}

/*Text styling*/
h2 {
    text-align: center;
    font-size: xx-large;
    padding: 10px;
}

/* Card styling*/
.image-style {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 400px;
    border-radius: 50%;
    padding: 3px;
}

.card-title {
    position: absolute;
    display: inline;
    top: 0;
    right: 45px !important;
    color: var(--text);
    padding: 5px;
    border-radius: 5px;
    object-fit: cover;
}

.card-project-title {
    position: static;
    text-align: center;
    left: 45px !important;
    color: var(--text);
    padding: 5px;
    border-radius: 5px;
    object-fit: cover;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    justify-items: center;
    grid-template-rows: 1fr;
}

.card-head {
    height: 42px;
    -o-object-fit: cover;
    object-fit: contain;
    overflow: hidden;
    border-bottom: 1px solid var(--ifm-color-primary);
    padding: 5;
}

.card-footer {
    height: auto;
    -o-object-fit: cover;
    object-fit: contain;
    overflow: hidden;
    border-top: 2px solid var(--ifm-color-primary);
}

.card {
    border-radius: 10px;
    padding: 0;
    text-align: center;
    position: relative;
    background-color: var(--secondary);
    box-shadow: 0 2px 10px var(--ifm-color-primary-darkest);
    width: 100%;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(126, 23, 142, 0.8);
    filter: brightness(1.3);
    transition: .5s all;
    transform: scale(1.015);
}

.card-project {
    border-radius: 10px;
    padding: 0;
    text-align: center;
    position: relative;
    background-color: var(--secondary);
    border: 2px solid var(--ifm-color-primary);
    width: 75%;
}

.card-project:hover {
    box-shadow: 0 5px 15px rgba(126, 23, 142, 0.8);
    filter: brightness(1.3);
    transition: .5s all;
    transform: scale(1.015);
}

.card-content {
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
}

.fixed-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50vh;
}
